@import 'global/body.scss';
@import '../sass/fonts.scss';
@import '../sass/libs.scss';
@import '../sass/_variables.scss';
@import '../sass/mixins.scss';
@import '../img/sprites/sprite.scss';

@import '../../node_modules/node-normalize-scss/_normalize.scss';
@import '../../node_modules/slick-carousel/slick/slick.scss';




@import '../sass/modules/footer.scss';

//@import '../fonts/Hamurz Free Version.ttf';




 //Общие стили
@import '../sass/styles.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
section{
    position: relative;
}

*,*::before,*::after{
    box-sizing: border-box;
}

//.container{
    //position: relative;
    //width: 100%;
    //max-width: 1110px;
    //margin: 0 auto;
//}


// Модули
// Стили шапки 
@import '../sass/modules/header.scss';

//Стили content

 @import '../sass/modules/content.scss';
 
//Стили футора/





 //ПРОЧЕЕ
 //Стили медиазапросов





