
header
 .container 
  .header-logo
   a(href).header-logo__link h
  .header-nav
    ul.header-nav__list
     li.header-nav__item
      a(href).header-nav__link HOME
     li.header-nav__item
      a(href).header-nav__link ABOUT US
     li.header-nav__item
      a(href).header-nav__link PROGRAMS
     li.header-nav__item
      a(href).header-nav__link PAGES
     li.header-nav__item
      a(href).header-nav__link COACHES
     li.header-nav__item
      a(href).header-nav__link SCHEDULE
     li.header-nav__item
      a(href).header-nav__link BLOG
     li.header-nav__item
      a(href).header-nav__link CONTACTS
           
  